body{

    text-align: center;
}

.quadrado{
    text-align: center;
    width: 80px;
    height: 80px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}
.jogador, .vencedor{
    font-size: 30px;
    margin-top: 18px;
}

button{
    margin-top:18px;
    width: 100px;
    height: 30px;
    background: #eee;
    cursor: pointer;
}